<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
<link rel="stylesheet" href="static/css/common.css">
   <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Untitled Document</title>
</head>

<body>
	
<h1 class="text-center"> Academic Paper Manager 
	<span class="badge">栖月</span>
</h1>

<div class="center-block param-block">
<form action="log-in" method="post">
{{ main }}
<input type="submit" class="btn btn-success center-block" value="Login" />
</form>
    <a href="admin">Administrator</a>
</div>
	
</body>
</html>
